*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

header {
  background-color: #75e2e6;
  border-bottom: 4px solid #048eaa;
  height: 65px;
}

li {
  display: inline;
  list-style-type: none;
  padding: 0px 5px 0px 5px;
  color: #000000;
}

nav {
  float: right;
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 1em;
}

.photobckgrnd {
background-image: url("images/park.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
height: 462px;
text-align: center;
color: #ffffff;
font-size: 20px;
/* background-color: rba(0,0,0); */
/* opacity: 0.15; */
}

h1 {
  font-size: 1.5em;
  padding: 27px 0px 27px 0px;
}

.icon {
    height: 63px;
    width: 75px;
    padding: 8px;
}

.circle {
  border-radius: 50%;
  border: 4px solid #048eaa;
  height: 180px;
  width: 180px;
}

.formbox {
  display: block;
  margin: auto;
  width: 33%;
}

#name {
  width: 100%;
  text-align: left;
  font-size: 0.50em;
}

#textbox,
#name-button {
  width: 100%;
}

#name-button {
  background-color: #75e2e6
}

#how-button {
  padding: 2px auto 2px auto;
}

.button {
  background-color: #048eaa;
  margin: 10px 0px 10px 0px;
  height: 36px;

}

/* main {
  height: 48%;
} */

.whitebckgrnd {
  width: 100%;
  /* border: 2px solid red; */
  padding: 0px 2.6% 0px 2.6%;
  height: 639px;

}

.column-box {
  width: 27.6%;
  /* border: 2px solid red; */
  display: inline-block;
  text-align: center;
  /* background-color: grey; */
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2.7%;
  margin-right: 2.7%;
  /* height: 400px;
  min-height: 400px; */
}



.column-text {
  text-align: left;
  min-height: 241px;
}

footer {
  background-color: #048eaa;
  text-align: center;
  height: 13%;
  min-height: 13%;
  width: 100%;
  padding: 25px;
  /* display: block;
  /* margin-top: auto; */
  position: relative;
  top: auto;
}

h3 {
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
