*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #000000;
  /* added all 4 below */
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 177px;
}

header {
  background-color: #75e2e6;
  border-bottom: 2.5px solid #048eaa;
  height: 63px;
}

/* added .logo styles section */
.logo {
  height: 60px;
  width: 60px;
  padding: 8px 0px 8px 13px;
}

nav {
  float: right;
  margin: 10px;
}

.nav-list {
  display: inline;
  list-style-type: none;
  padding: 0px 5px 0px 20px;
  color: #000000;
}

a {
  text-decoration: none;
  font-size: 1.05em;
  color: black;
  font-weight: 600;
  line-height: 2em;
}

.photo-background {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/park.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/park.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/park.jpg");
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: cover;
  height: 462px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  /* added position */
  position: relative;
}
/* added this whole section (id wasnt there before) */
.top-main-content {
  position: absolute;
  left: 30%;
}

h1 {
  font-size: 1.645em;
  padding: 27px 0px 0px 0px;
  font-weight: 400;
}

.site-about-blank {
  font-weight: 800;
}

.circle {
  border-radius: 50%;
  border: 4px solid #048eaa;
  height: 180px;
  width: 180px;
  margin: 25px 0px 15px 0px;
}

.form-box {
  display: block;
  margin: auto;
  width: 370px;
}

#name {
  width: 100%;
  text-align: left;
  font-size: 0.85em;
  padding: 0px 0px 5px 0px;
}

.text-box,
.name-button {
  width: 100%;
  height: 45px;
  border-radius: 1px;
  border: 0;
  margin-bottom: 20px;
}

.name-button {
  background-color: #75e2e6;
  font-size: .85em;
}

.white-background {
  width: 100%;
  padding: 22px 0px 0px 0px;
  height: 639px;
  position: relative;
}

h2 {
  padding-bottom: 3px;
}

.column-box {
  /* changed width from 27.6% */
  width: 27.15%;
  display: inline-block;
  text-align: center;
  margin-top: 2%;
  /* changed bottom from 2% */
  margin-bottom: 0;
  /* changed left and right from 2.7% */
  margin-left: 2.9%;
  margin-right: 2.9%;
}

/* added these three column id styling bc they didnt exist in html before */
#how-column {
  position: absolute;
  left: 0;
}

#what-column {
  position: absolute;
  left: 33.5%;
}

#facts-column {
  position: absolute;
  right: 4px;
}

.column-text {
  text-align: left;
  min-height: 241px;
  font-size: 1.04em;
  font-weight: 600;
}

button {
  font-size: 1.1em;
  font-weight: 400;
  color: #ffffff;
  background-color: #048eaa;
  /* changed bottom margin from 10px */
  margin: 14px 0px 0px 0px;
  height: 47px;
  width: 100%;
  border-radius: 2px;
  border: 0;
  padding: 2px auto 2px auto;
}

footer {
  background-color: #048eaa;
  text-align: center;
  /* changed height from 13% */
  height: 177px;
  /* removed min-height */
  width: 100%;
  /* added margin top */
  margin-top: 41px;
  padding: 25px;
  /* changed from position relative, top auto to whats below */
  position: absolute;
  bottom: 0;
}

h3 {
  color: #ffffff;
  margin: 17px 0px 20px 0px;
  font-size: 1.05em;
  font-weight: 400;
}

.icon {
  height: 53.5px;
  width: 54.1px;
  padding: 8px 0px 8px 0px;
}

.foot-list {
  display: inline;
  list-style-type: none;
}
