*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #000000;
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 177px;
}

header {
  background-color: #75e2e6;
  border-bottom: 2.5px solid #048eaa;
  height: 63px;
}

.logo {
  height: 60px;
  width: 60px;
  padding: 8px 0px 8px 13px;
}

nav {
  float: right;
  margin: 10px;
}

.nav-list {
  display: inline;
  list-style-type: none;
  padding: 0px 5px 0px 20px;
  color: #000000;
}

a {
  text-decoration: none;
  font-size: 1.05em;
  color: black;
  font-weight: 600;
  line-height: 2em;
}

.photo-background {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/park.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/park.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/park.jpg");
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: cover;
  height: 462px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  position: relative;
}

/* removed this section from html but if i remove here it bolds h1 WHY */
.top-main-content {
  width: 33%;
  /* margin: 0px auto 0px auto;
  border: .5 solid blue; */
  /* position: absolute;
  left: 30%; */
}

h1 {
  font-size: 1.645em;
  padding: 27px 0px 0px 0px;
  font-weight: 400;
}

.site-about-blank {
  font-weight: 800;
}

.circle {
  border-radius: 50%;
  border: 4px solid #048eaa;
  height: 180px;
  width: 180px;
  margin: 25px 0px 15px 0px;
}

.form-box {
  display: block;
  margin: auto;
  width: 370px;
}

#name {
  width: 100%;
  text-align: left;
  font-size: 0.85em;
  padding: 0px 0px 5px 0px;
}

.text-box,
.name-button {
  width: 100%;
  height: 45px;
  border-radius: 1px;
  border: 0;
  margin-bottom: 20px;
  cursor: text;
  font-size: 0.85em;
  font-weight: bold;
  text-align: center;
}

.name-button {
  background-color: #75e2e6;
  font-size: .85em;
  cursor: pointer;
}

.white-background {
  width: 100%;
  padding: 22px 0px 0px 0px;
  height: 639px;
  position: relative;
}

h2 {
  padding-bottom: 3px;
}

.column-box {
  width: 27.15%;
  display: inline-block;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 2.9%;
  margin-right: 2.9%;
}

#how-column {
  position: absolute;
  left: 0;
}

#what-column {
  position: absolute;
  left: 33.5%;
}

#facts-column {
  position: absolute;
  right: 4px;
}

.column-text {
  text-align: left;
  min-height: 241px;
  font-size: 1.04em;
  font-weight: 600;
}

button {
  font-size: 1.1em;
  font-weight: 400;
  color: #ffffff;
  background-color: #048eaa;
  margin: 14px 0px 0px 0px;
  height: 47px;
  width: 100%;
  border-radius: 2px;
  border: 0;
  padding: 2px auto 2px auto;
}

footer {
  background-color: #048eaa;
  text-align: center;
  height: 177px;
  width: 100%;
  margin-top: 41px;
  padding: 25px;
  position: absolute;
  bottom: 0;
}

h3 {
  color: #ffffff;
  margin: 17px 0px 20px 0px;
  font-size: 1.05em;
  font-weight: 400;
}

.icon {
  height: 53.5px;
  width: 54.1px;
  padding: 8px 0px 8px 0px;
}

.foot-list {
  display: inline;
  list-style-type: none;
}

/* remove body padding-bottom & remove footer absolute position and bottom:0 */
@media screen and (max-width: 556px) {
  body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #000000;
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 0;
  }

  footer {
    background-color: #048eaa;
    text-align: center;
    height: 177px;
    width: 100%;
    margin-top: 41px;
    padding: 25px;
    position: none;
    top: none;
  }

  .column-box {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 2.9%;
    margin-right: 2.9%;
  }

  #how-column {
    position: relative;
    left: auto;
  }

  #what-column {
    position: relative;
    left: auto;
  }

  #facts-column {
    position: relative;
    left: auto;
  }
}
